@font-face {
    font-family: 'Poppins1 ';
    src: url('front/Poppins-ExtraBold.eot');
    src: url('front/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('front/Poppins-ExtraBold.woff2') format('woff2'),
        url('front/Poppins-ExtraBold.woff') format('woff'),
        url('front/Poppins-ExtraBold.ttf') format('truetype'),
        url('front/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Poppins2 ';
    src: url('front/Poppins-Medium.eot');
    src: url('front/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('front/Poppins-Medium.woff2') format('woff2'),
        url('front/Poppins-Medium.woff') format('woff'),
        url('front/Poppins-Medium.ttf') format('truetype'),
        url('front/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
   
}


@font-face {
    font-family: 'Poppins3 ';
    src: url('front/Poppins-Regular.eot');
    src: url('front/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('front/Poppins-Regular.woff2') format('woff2'),
        url('front/Poppins-Regular.woff') format('woff'),
        url('front/Poppins-Regular.ttf') format('truetype'),
        url('front/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


