html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.p4{
    background-color:#5863F8 ;
    width: 120px;
    height: 30px;
    padding-left: 44.8px;
    padding-top:15px;
    margin-left: 20px;
    text-decoration: none;
    
    
}
.div3{
    margin-top: 19px;
}


footer{
    background-color:#121212 ;
    width: 1366px;
    height: 344px;
   display: block;
    
}
.div1{
     width: 789px;
     margin-left: 800px; 
     display: inline-block;
     margin-top: -600px;
   
}
.section1{
    
    display: block;
    margin-top:- 60px;
    display: inline-block; 
     width: 444px; height: auto;
     margin-left: 20px;

}
.img1{
width:260 ;
height:185 ;
margin-bottom: 16px;
}
.img2{
    width:260 ;
    height:185 ;
    margin-left: 9px;
    margin-bottom: 16px;

}
.img3{
    width:536 ;
    height:260 ;

}
.p5,h2{
    color: white;
    margin-bottom: 50px;
}
.logo1{
    padding-left: 21.5px;
    padding-top: 25px;
}
.log2{
    margin-right: 30px;
     }
.span1{
    color: blue;
}
.span2{
    color: white; 
}
.span3{
    color: white;
}
.p5{
    margin-top:19.5px;
}
.h1{
    font-family: 'Poppins1 ';
    width: 374px;
    height: 155px;
    font-size: 42px;   
}
.p2{
    font-family: 'Poppins2 ';
    width:444 px;
    height:78 px;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 35px;
    margin-top: 35px;

}
.p3{font-family: 'Poppins3 ';
    width:444px ;
    height:78 px;
    font-size: 14px;
    margin-bottom: 35px;

}
.log2{
   margin-right: 20px;
  
}
.p5{
    font-family: 'Poppins2 ';
    font-size: 14px;
    color: white;
   width: 886px; 
   padding-top: 5px;
   padding-bottom: 50px;
   padding-top: -20px;
    
}
.div7{
    margin-left: 144px;
  } 

.logo{
    margin-left: 40px;
    text-decoration: none;  
}

.h2{
    margin-top: 10px; 
    padding-top: 50px;
    width: 828px;  
}
.a1{
    text-decoration: none;
}
.a7{
    color: blue;
    text-decoration: none;
}
